<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carbon Kids</title>
    <link rel="stylesheet" href="../styles/main.css">
</head>
<body>
    <header>
        <h1>Welcome to Carbon Kids!</h1>
        <nav>
            <ul>
                <li><a href="../pages/home.html">Home</a></li>
                <li><a href="../pages/about.html">About</a></li>
                <li><a href="../pages/learn.html">Learn</a></li>
                <li><a href="../pages/activities.html">Activities</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>